<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="IntegerNet\Solr\Model\StatusMessages" type="IntegerNet\Solr\Model\SolrStatusMessages" />
  <preference for="IntegerNet\Solr\Implementor\AttributeRepository" type="IntegerNet\Solr\Model\Bridge\AttributeRepository" />
  <preference for="IntegerNet\Solr\Implementor\ProductRepository" type="IntegerNet\Solr\Model\Bridge\ProductRepository" />
  <preference for="IntegerNet\Solr\Implementor\ProductIterator" type="IntegerNet\Solr\Model\Bridge\ProductIterator" />
  <preference for="IntegerNet\Solr\Implementor\Product" type="IntegerNet\Solr\Model\Bridge\Product" />
  <preference for="IntegerNet\Solr\Implementor\Config" type="IntegerNet\Solr\Model\Bridge\Config"/>
  <preference for="IntegerNet\Solr\Implementor\StoreEmulation" type="IntegerNet\Solr\Model\Bridge\StoreEmulation" />
  <type name="IntegerNet\Solr\Model\Bridge\Config" shared="false"/>
  <!--
  <preference for="Magento\Catalog\Model\ResourceModel\Layer\Filter\Attribute" type="IntegerNet\Solr\Model\Resource\Catalog\Layer\Filter\Attribute"/>
  <preference for="Magento\Catalog\Model\ResourceModel\Layer\Filter\Price" type="IntegerNet\Solr\Model\Resource\Catalog\Layer\Filter\Price"/>
  <preference for="Magento\CatalogSearch\Model\Layer" type="IntegerNet\Solr\Model\CatalogSearch\Layer"/>
  <preference for="Magento\CatalogSearch\Model\Layer\Filter\Attribute" type="IntegerNet\Solr\Model\CatalogSearch\Layer\Filter\Attribute"/>
  <preference for="Magento\Catalog\Model\Layer" type="IntegerNet\Solr\Model\Catalog\Layer"/>
  <preference for="Magento\Catalog\Model\Layer\Filter\Price" type="IntegerNet\Solr\Model\Catalog\Layer\Filter\Price"/>
  <preference for="Magento\Catalog\Model\Layer\Filter\Attribute" type="IntegerNet\Solr\Model\Catalog\Layer\Filter\Attribute"/>
  <preference for="Magento\Catalog\Model\Layer\Filter\Category" type="IntegerNet\Solr\Model\Catalog\Layer\Filter\Category"/>
  <preference for="Magento\CatalogSearch\Helper\Data" type="IntegerNet\Solr\Helper\CatalogSearch\Data"/>
  <preference for="Magento\CatalogSearch\Block\Autocomplete" type="IntegerNet\Solr\Block\Autosuggest"/>
  -->

  <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
    <plugin name="storeFilterFixer" type="IntegerNet\Solr\Model\Plugin\StoreFilterFixer" />
  </type>
  <type name="Magento\Catalog\Model\Layer\ItemCollectionProviderInterface">
    <plugin name="replaceCollections" type="IntegerNet\Solr\Model\Plugin\CollectionProviderPlugin" />
  </type>


</config>