<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Block\Adminhtml\Product\Attribute\Edit\Tab\Front">
        <plugin name="search_weight_as_text" type="IntegerNet\Solr\Plugin\FrontTabPlugin" />
    </type>

    <!-- Bugfix: Always use the frontend URL model for categories -->
    <!--  necessary for autosuggest cache, to generate the right store urls  -->
    <type name="Magento\Catalog\Model\Category">
        <arguments>
            <argument name="url" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </type>

</config>