.integernet-solr-tab
{
    position: relative;
}
.integernet-solr-tab._active span {
    color: #9cc21b;
}
.integernet-solr-tab span:after
{
    top: 18px;
    right: 12px;
    position: absolute;
    content: " ";
    display: block;
    background: url(integer_net_logo.png) no-repeat;
    width: 22px;
    height: 23px;
}

.integernet_solr_messages li {
    list-style-type: none;
}
.integernet_solr_messages li:before {
    display:inline-block;
    content:'\27a1';
    padding:0 6px 0 0;
}
.integernet_solr_messages .message-success li:before {
    color:green;
}
.integernet_solr_messages .message-notice li:before {
    color:blue;
}
.integernet_solr_messages .message-warning li:before,
.integernet_solr_messages .message-error li:before {
    color:red;
}
.integernet_solr_messages .version,
.integernet_solr_messages .engine
{
    font-weight: bold;
}