.tickbox { display: inline-block; width: 20px; height: 20px; margin-right: 5px; border: 1px solid currentColor; cursor: pointer; color: #ccc; }
.tickbox__field { display: none; }
.tickbox:before { display: inline-block; width: 100%; height: 100%; content: '\10102'; font-size: 20px; text-align: center; vertical-align: middle; line-height: 1ex; color: transparent; }
.tickbox--active:before { color: #494949; }
.filter-options-link:hover { text-decoration: none; }
.filter-options-content .filter-options-link:hover { background-color: transparent; color: #ff5501; }