<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <integernet_solr>
      <general>
        <is_active>0</is_active>
        <log>0</log>
      </general>
      <server>
        <http_method>curl</http_method>
      </server>
      <connection_check>
        <check_connection>0</check_connection>
        <send_email_on_nth_failure>1</send_email_on_nth_failure>
        <email_template>integernet_solr_connection_check_email_template</email_template>
      </connection_check>
      <indexing>
        <pagesize>1000</pagesize>
        <delete_documents_before_indexing>1</delete_documents_before_indexing>
      </indexing>
      <fuzzy>
        <is_active>1</is_active>
        <is_active_autosuggest>1</is_active_autosuggest>
        <sensitivity>0.7</sensitivity>
        <sensitivity_autosuggest>0.7</sensitivity_autosuggest>
        <minimum_results>0</minimum_results>
        <minimum_results_autosuggest>0</minimum_results_autosuggest>
      </fuzzy>
      <results>
        <use_html_from_solr>0</use_html_from_solr>
        <search_operator>AND</search_operator>
        <filter_position>1</filter_position>
        <filter_option_sorting>position</filter_option_sorting>
        <priority_categories>2</priority_categories>
        <show_outofstock>1</show_outofstock>
        <priority_outofstock>1</priority_outofstock>
        <price_step_size>10</price_step_size>
        <max_price>200</max_price>
        <use_custom_price_intervals>0</use_custom_price_intervals>
        <custom_price_intervals>10,20,50,100,200,300,400,500</custom_price_intervals>
        <product_attributes_redirect>name,sku</product_attributes_redirect>
        <category_attributes_redirect>name</category_attributes_redirect>
      </results>
      <autosuggest>
        <is_active>1</is_active>
        <use_php_file_in_home_dir>1</use_php_file_in_home_dir>
        <max_number_searchword_suggestions>5</max_number_searchword_suggestions>
        <max_number_product_suggestions>3</max_number_product_suggestions>
        <max_number_category_suggestions>0</max_number_category_suggestions>
        <max_number_cms_page_suggestions>0</max_number_cms_page_suggestions>
        <show_complete_category_path>0</show_complete_category_path>
        <category_link_type>filter</category_link_type>
        <attribute_filter_suggestions>a:0:{}</attribute_filter_suggestions>
        <show_outofstock>1</show_outofstock>
      </autosuggest>
      <seo>
        <hide_from_robots>search_results_all,search_results_filtered,categories_filtered</hide_from_robots>
      </seo>
      <dev>
        <register_autoloader>1</register_autoloader>
        <autoloader_basepath>lib/IntegerNet_Solr</autoloader_basepath>
      </dev>
    </integernet_solr>
  </default>
</config>