<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="IntegerNet\Solr\Model\StatusMessages" type="IntegerNet\Solr\Model\SolrStatusMessages" />
  
  <!-- Bridge implementations -->

  <preference for="IntegerNet\Solr\Implementor\SolrRequestFactoryInterface" type="IntegerNet\Solr\Model\Bridge\RequestFactory" />
  <preference for="IntegerNet\Solr\Implementor\AttributeRepository" type="IntegerNet\Solr\Model\Bridge\AttributeRepository" />
  <preference for="IntegerNet\Solr\Implementor\IndexCategoryRepository" type="IntegerNet\Solr\Model\Bridge\CategoryRepository" />
  <preference for="IntegerNet\Solr\Implementor\ProductRepository" type="IntegerNet\Solr\Model\Bridge\ProductRepository" />
  <preference for="IntegerNet\Solr\Implementor\ProductIterator" type="IntegerNet\Solr\Model\Bridge\ProductIterator" />
  <preference for="IntegerNet\Solr\Implementor\PagedProductIterator" type="IntegerNet\Solr\Model\Bridge\PagedProductIterator" />
  <preference for="IntegerNet\Solr\Implementor\Product" type="IntegerNet\Solr\Model\Bridge\Product" />
  <preference for="IntegerNet\Solr\Implementor\Config" type="IntegerNet\Solr\Model\Bridge\Config"/>
  <preference for="IntegerNet\Solr\Implementor\StoreEmulation" type="IntegerNet\Solr\Model\Bridge\StoreEmulation" />
  <preference for="IntegerNet\Solr\Implementor\ProductRenderer" type="IntegerNet\Solr\Model\Bridge\ProductRenderer" />
  <preference for="IntegerNet\Solr\Implementor\EventDispatcher" type="IntegerNet\Solr\Model\Bridge\EventDispatcher" />
  <preference for="IntegerNet\SolrSuggest\Implementor\SerializableCategoryRepository"
              type="IntegerNet\Solr\Model\Bridge\SerializableCategoryRepository" />
  <preference for="IntegerNet\SolrSuggest\Implementor\TemplateRepository"
              type="IntegerNet\Solr\Model\Bridge\TemplateRepository" />
  <preference for="IntegerNet\SolrSuggest\Implementor\CustomHelper"
              type="IntegerNet\SolrSuggest\Block\DefaultCustomHelper" />
  <preference for="IntegerNet\SolrSuggest\Implementor\Factory\AppFactory" type="IntegerNet\Solr\Model\Bridge\AppFactory" />
  <preference for="IntegerNet\SolrSuggest\Plain\Entity\SerializableAttributeRepository"
              type="IntegerNet\SolrSuggest\Plain\Cache\Convert\AttributesToSerializableAttributes"/>
  <preference for="IntegerNet\SolrSuggest\Plain\Cache\CacheStorage" type="IntegerNet\SolrSuggest\Plain\Cache\PsrCache" />
  <preference for="IntegerNet\Solr\Model\Cache\CacheStorageFactoryInterface"
              type="IntegerNet\Solr\Model\Cache\PsrFileCacheStorageFactory"/>

  <!-- Module types -->

  <type name="IntegerNet\Solr\Model\Bridge\Config" shared="false"/>
  <type name="IntegerNet\Solr\Model\ResourceModel\MergedProductAssociations">
    <arguments>
      <argument name="sources" xsi:type="array">
        <item name="configurable" xsi:type="object">IntegerNet\Solr\Model\ResourceModel\ConfigurableProductAssociations</item>
        <item name="grouped" xsi:type="object">IntegerNet\Solr\Model\ResourceModel\GroupedProductAssociations</item>
      </argument>
    </arguments>
  </type>
  <type name="IntegerNet\Solr\Block\Autosuggest\Item">
    <arguments>
      <argument name="data" xsi:type="array">
        <item name="template" xsi:type="string">IntegerNet_Solr::autosuggest/item.phtml</item>
      </argument>
    </arguments>
  </type>

  <type name="IntegerNet\Solr\Model\Indexer\ProductCollectionFactory">
    <arguments>
      <argument name="collectionFactory" xsi:type="object">disabledFlatStateProductCollectionFactory</argument>
    </arguments>
  </type>
  <virtualType name="disabledFlatStateProductCollectionFactory" type="Magento\Catalog\Model\ResourceModel\Product\CollectionFactory">
    <arguments>
      <argument name="instanceName" xsi:type="string">disabledFlatStateProductCollection</argument>
    </arguments>
  </virtualType>
  <virtualType name="disabledFlatStateProductCollection" type="Magento\Catalog\Model\ResourceModel\Product\Collection">
    <arguments>
      <argument name="catalogProductFlatState" xsi:type="object">disabledFlatState</argument>
    </arguments>
  </virtualType>
  <virtualType name="disabledFlatState" type="Magento\Catalog\Model\Indexer\Product\Flat\State">
    <arguments>
      <argument name="isAvailable" xsi:type="boolean">false</argument>
    </arguments>
  </virtualType>

  <virtualType name="nopagination" type="IntegerNet\Solr\Request\SinglePage">
    <arguments>
      <argument name="pageSize" xsi:type="number">10000</argument>
    </arguments>
  </virtualType>
  <!-- TODO multiple virtual types, this one is only used for the Magento2 adapter search (i.e. no html from solr) -->
  <type name="IntegerNet\Solr\Model\Bridge\RequestFactory">
    <arguments>
      <argument name="pagination" xsi:type="object">nopagination</argument>
    </arguments>
  </type>

  <!-- Plugins -->

  <type name="Magento\Search\Model\AdapterFactory">
    <plugin name="integernet_solr_choose_adapter" type="IntegerNet\Solr\Model\Plugin\AdapterFactoryPlugin" />
  </type>
  <type name="Magento\Catalog\Model\Layer\ItemCollectionProviderInterface">
    <plugin name="replaceCollections" type="IntegerNet\Solr\Model\Plugin\CollectionProviderPlugin" />
  </type>
  <type name="Magento\Framework\UrlFactory">
    <plugin name="integernet_solr_replace_url_instance" type="IntegerNet\Solr\Plugin\UrlFactoryPlugin" />
  </type>

  <!--
  <preference for="Magento\Catalog\Model\ResourceModel\Layer\Filter\Attribute" type="IntegerNet\Solr\Model\Resource\Catalog\Layer\Filter\Attribute"/>
  <preference for="Magento\Catalog\Model\ResourceModel\Layer\Filter\Price" type="IntegerNet\Solr\Model\Resource\Catalog\Layer\Filter\Price"/>

  <preference for="Magento\CatalogSearch\Model\Layer" type="IntegerNet\Solr\Model\CatalogSearch\Layer"/>

  <preference for="Magento\CatalogSearch\Model\Layer\Filter\Attribute" type="IntegerNet\Solr\Model\CatalogSearch\Layer\Filter\Attribute"/>
  <preference for="Magento\Catalog\Model\Layer" type="IntegerNet\Solr\Model\Catalog\Layer"/>
  <preference for="Magento\Catalog\Model\Layer\Filter\Price" type="IntegerNet\Solr\Model\Catalog\Layer\Filter\Price"/>
  <preference for="Magento\Catalog\Model\Layer\Filter\Attribute" type="IntegerNet\Solr\Model\Catalog\Layer\Filter\Attribute"/>
  <preference for="Magento\Catalog\Model\Layer\Filter\Category" type="IntegerNet\Solr\Model\Catalog\Layer\Filter\Category"/>
  -->

  <virtualType name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollectionFactory" type="Magento\Catalog\Model\ResourceModel\Product\CollectionFactory">
    <arguments>
      <argument name="instanceName" xsi:type="string">IntegerNet\Solr\Model\ResourceModel\CatalogSearchFulltextCollection</argument>
    </arguments>
  </virtualType>
  <type name="IntegerNet\Solr\Model\ResourceModel\CatalogSearchFulltextCollection">
    <arguments>
      <argument name="searchRequestName" xsi:type="string">quick_search_container</argument>
    </arguments>
  </type>


  <!-- IntegerNet_Solr search adapter, only used if HTML is not stored in solr (i.e. we only receive product ids from Solr) -->
  <type name="Magento\Search\Model\AdapterFactory">
    <arguments>
      <argument name="adapters" xsi:type="array">
        <item name="integernet_solr" xsi:type="string">IntegerNet\Solr\Model\Search\Adapter\SolrAdapter</item>
      </argument>
    </arguments>
  </type>

  <!-- for indexing, we do not use Magentos search engine provider, so this is the same class as for "mysql" -->
  <type name="Magento\CatalogSearch\Model\ResourceModel\EngineProvider">
    <arguments>
      <argument name="engines" xsi:type="array">
        <item name="integernet_solr" xsi:type="string">Magento\CatalogSearch\Model\ResourceModel\Engine</item>
      </argument>
    </arguments>
  </type>
  <type name="Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory">
    <arguments>
      <argument name="handlers" xsi:type="array">
        <item name="integernet_solr" xsi:type="string">Magento\CatalogSearch\Model\Indexer\IndexerHandler</item>
      </argument>
    </arguments>
  </type>
  <type name="Magento\CatalogSearch\Model\Indexer\IndexStructureFactory">
    <arguments>
      <argument name="structures" xsi:type="array">
        <item name="integernet_solr" xsi:type="string">Magento\CatalogSearch\Model\Indexer\IndexStructure</item>
      </argument>
    </arguments>
  </type>

  <!-- Console commands -->
  <type name="\Magento\Framework\Console\CommandList">
    <arguments>
      <argument name="commands" xsi:type="array">
        <item name="solr_reindex" xsi:type="object">IntegerNet\Solr\Console\Command\ReindexCommand\Proxy</item>
      </argument>
    </arguments>
  </type>



  <!-- Magento bugfixes -->

  <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
    <plugin name="integernetSolrProductCollection" type="IntegerNet\Solr\Model\Plugin\ProductCollectionPlugin" />
  </type>

  <type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
    <plugin name="integernetSolrProductCollection" type="IntegerNet\Solr\Model\Plugin\ProductCollectionPlugin" />
  </type>

  <type name="Magento\Eav\Model\AttributeRepository">
    <plugin name="attributeFilterFixer" type="IntegerNet\Solr\Model\Plugin\AttributeFilterFixer" />
  </type>



</config>