
.header-container {
    position: relative;
}

.search-autocomplete::before {
    display: none !important;
}

#search_autocomplete {
    width: 958px !important;
    left: auto !important;
    right: 0 !important;
    top: 39px !important;
    text-align: left;
    background: #efefef;
    border: 1px solid #b1b1b1;
    box-shadow: 0 6px 2px -3px #b1b1b1;
    position: absolute !important;
}

#search_autocomplete ul {
    background: #ffffff;
    position: static;
}

#search_autocomplete ul.integernet_solr-searchwords {
    background: #efefef;
    float: right;
    width: 210px;
    border: 0;
    padding: 15px 0;
}

#search_autocomplete ul.integernet_solr-searchwords li {
    background: none;
    line-height: 25px;
    cursor: auto;
}

#search_autocomplete ul.integernet_solr-searchwords li a {
    font-size: 14px;
    color: #404040;
}

#search_autocomplete span.highlight {
    color: #3399cc;
    text-decoration: underline;
}

#search_autocomplete .integernet_solr-products-box {
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background: #ffffff;
    width: 740px;
}

#search_autocomplete .integernet_solr-products-box  h3 {
    padding: 25px 15px;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    color: #3399cc;
}

#search_autocomplete ul.integernet_solr-products {
    border: 0;
}

#search_autocomplete ul.integernet_solr-products li {
    float: left;
    width: 200px;
    background: #ffffff;
    padding-left: 20px;
    margin-left: 20px;
    border: 0;
    border-left: 1px solid #d9d9d9;
    margin-bottom: 25px;
    min-height: 90px;
    cursor: auto;
}

#search_autocomplete ul.integernet_solr-products li:first-child {
    border: 0;
    margin-left: 0;
    padding-left: 15px;
}

#search_autocomplete ul.integernet_solr-products li.last {
    clear: both;
    float: none;
    visibility: hidden;
    width: 720px;
    height: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#search_autocomplete ul.integernet_solr-products li div.integernet_solr-product-image {
    float: left;
    margin-right: 10px;
    border: 0;
}


.integernet_solr-product-image {
    border: 0 !Important;
}

#search_autocomplete ul.integernet_solr-products li .integernet_solr-product-name a {
    color: #414141;
}

#search_autocomplete ul.integernet_solr-products li .integernet_solr-product-price {
    margin-left: 85px;
}

#search_autocomplete ul.integernet_solr-products li .integernet_solr-product-price .price-box {
    margin-bottom: 0;
    line-height: 15px;
}

#search_autocomplete ul.integernet_solr-products li .integernet_solr-product-price .price-label {
    font-size: 11px;
    font-weight: normal;
}

#search_autocomplete ul.integernet_solr-products li .integernet_solr-product-price span.price {
    color: #414141;
    font-weight: bold;
}

#search_autocomplete ul.integernet_solr-products li .integernet_solr-product-price .minimal-price-link {
    text-decoration: none;
    font-size: 11px;
}

#search_autocomplete ul.integernet_solr-products li .integernet_solr-product-price .minimal-price-link span.price {
    font-size: 11px;
}

#search_autocomplete ul.integernet_solr-products li .tax-details {
    display: none;
}

#search_autocomplete .integernet_solr-additional-box,
#search_autocomplete .integernet_solr-cms-pages-box {
    border-right: 1px solid #dbdbdb;
    background: #f6f6f6;
    width: 740px;
}

#search_autocomplete .integernet_solr-categories-box,
#search_autocomplete .integernet_solr-cms-pages-box,
#search_autocomplete .integernet_solr-attributes-box {
    width: 365px;
    padding-bottom: 20px;
    float: left;
}

#search_autocomplete .integernet_solr-attributes-box {
}

#search_autocomplete .integernet_solr-categories-box  h3,
#search_autocomplete .integernet_solr-cms-pages-box  h3,
#search_autocomplete .integernet_solr-attributes-box  h3 {
    padding: 25px 15px 5px 15px;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    color: #3399cc;
}

#search_autocomplete ul.integernet_solr-categories,
#search_autocomplete ul.integernet_solr-cms-pages,
#search_autocomplete ul.integernet_solr-attributes {
    border: 0;
    width: 370px;
}

#search_autocomplete ul.integernet_solr-categories li,
#search_autocomplete ul.integernet_solr-cms-pages li,
#search_autocomplete ul.integernet_solr-attributes li {
    float: left;
    width: 158px;
    padding: 0 0 0 15px;
    border: 0;
    cursor: auto;
}

#search_autocomplete ul.integernet_solr-cms-pages li {
    width: 331px;
    padding-bottom: 10px;
}

#search_autocomplete ul.integernet_solr-attributes li {
    width: 331px;
}

#search_autocomplete ul.integernet_solr-cms-pages li a,
#search_autocomplete ul.integernet_solr-categories li a {
    color: #414141;
}

#search_autocomplete ul.integernet_solr-attributes li a {
    color: #414141;
    text-decoration: underline;
}

#search_autocomplete .integernet_solr-additional-box .last {
    clear: both;
    float: none;
    visibility: hidden;
    width: 720px;
    height: 0;
    min-height: 0;
    margin: 0;
}

@media only screen and (max-width: 990px) {

    #header-search {
        position: relative;
    }

    #search_autocomplete {
        width: 458px !important;
    }

    #search_autocomplete .integernet_solr-products-box {
        border-right: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        background: #ffffff;
        width: 240px;
    }

    #search_autocomplete ul.integernet_solr-products li {
        width: 200px;
        margin-left: 0;
        border: 0;
    }

    #search_autocomplete .integernet_solr-additional-box {
        display: none;
    }
}

@media only screen and (max-width: 770px) {

    #search_autocomplete {
        right: 20px !important;
        top: 59px !important;
    }
}

@media only screen and (max-width: 500px) {

    #search_autocomplete {
        width: 240px !important;
    }

    #search_autocomplete ul.integernet_solr-searchwords {
        float: none;
        width: 238px;
        border: 0;
        padding: 15px;
    }
}

